@import "tailwindcss";

@theme {
  --color-dark: #171717;
  --color-green: #63cd91;
  --color-blue: #4f8fe3;
  --color-white: #cfcfcf;
  --color-yellow: #f6f366;
  --color-red: #df5853;
  --color-gray: #d1d5dc;
}

.inter-100 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* add for 200-900 */
.inter-200 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-300 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-400 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-600 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-700 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-800 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-900 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.terminal-cursor {
  width: 5px;
  height: 1.2em;
  background: currentColor;
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s steps(1) infinite;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-white);
}
